@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
body {
  overflow: hidden;
  font-family: 'Lato' sans-serif;
  color: #505962;
}
.navbar {
  background: rgba(0, 0, 0, 0.6);
}
.navbar-brand img {
  height: 2rem;
}
.video-background {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.3);
}
.caption {
  position: absolute;
  top: 38%;
  width:100%;
  color:#fff;
}
.caption h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-shadow: 0.2rem 0.2rem 0.8rem black;
  padding-bottom: 1rem;
}
.caption h3 {
  font-size: 2rem;
  text-shadow: 0.2rem 0.2rem 0.5rem black;
  padding-bottom: 1.6rem;
}
.btn-lg {
  border-width: medium;
  border-radius: 0;
  font-size:1.1rem;
  padding: 0.6rem 1.3rem;
}
@media(max-width:768px){
  .caption {
    position: absolute;
    top: 38%;
    width:100%;
    color:#fff;
  }
  .caption h1 {
    font-size: 1.4rem;
    letter-spacing: 0.15rem;
    padding-bottom: 0.5rem;
  }
  .caption h3 {
    font-size: 1.1rem;
    padding-bottom: 1.2rem;
  }
  .btn-lg {
    font-size:1.1rem;
    padding: 0.5rem 1rem;
  }
}

 


















































/*============= COURSE SECTION =============*/

.col-md-8 {
  margin: 2rem auto 8rem;
  padding-top: 2rem;
}
.col-md-8 h1 {
    font-size: 2.4rem;
  }
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
}
/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/